.main {
  display: flex;
  justify-content: center;
  height: calc(100dvh - 4em);
  overflow: scroll;
}

.container {
  max-width: 90ch;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkOut {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.title {
  margin: 7px 0;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0 20px;
  }
}
