.ul {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
}

.text {
  margin: 0;
}

.li {
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.5em;
  cursor: pointer;
}

.li:hover {
  background-color: var(--accent-hover);
}

.logo {
  width: 20px;
}

.cartItems {
  color: white;
  font-size: 10px;
  font-weight: 600;
  background-color: rgb(177, 28, 28);
  padding: 3px;
  min-width: 3ch;
  border-radius: 50%;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .text {
    display: none;
  }
}
